{% extends "layout.html" %}

{% block title %}
    Challenges
{% endblock %}

{% block main %}
<link href="/static/challenge2.css" rel="stylesheet">
<link href="/static/challenge.css" rel="stylesheet">

<body id="page-top" class="index">
    <body style="background-color:lightgrey;">
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <br>
                <div class="intro-lead-in">Challenge Yourself.</div>
                <div class="intro-heading">Use Challenges to set goals,
                motivate yourself, and challenge your friends! You can
                track your results and compare them to the other members
                in the ChartMyFitness community. Prizes are given away for certain
                challenges so hurry up and join one today!.</div>



    <img class="chall" src="static/img/team/chal2.png" alt="Challenge" border="5">
    <a href="https://www.mapmyrun.com/challenges/coldmakeslegends">
        <div class="body">
        Cold Makes Legends </a>
    - Hit your winter fitness goals by logging 15 workouts in 30 days for your chance to win a $500 DICK’S Sporting Goods gift card.
        </div>

    <br><br>
    <img class="chall" src="static/img/team/chal1.png" alt="Challenge">
    <a href="https://www.mapmyrun.com/challenges/yvsty2018">
        <div class="body">
        You VS the Year 2018 </a>
    - Dream Fearlessly. In 2018 it’s you and the open road. Be a part of the largest crew on the planet and push yourself to new limits.
    Run, walk or jog to 1018KM of greatness. Compete to win exclusive gear. So, what are you waiting for?
        </div>

{% endblock %}