{% extends "layout.html" %}

{% block title %}
    Guide
{% endblock %}

{% block main %}
<link href="/static/guide.css" rel="stylesheet">
<h1>Guide to Maximize Workout Results</h1>
<br>

  <section class="bg-light-gray">
  <div class="container">
  <h2>Workout Tips</h2>
  <h5>

    <ol>

  <li>Go into your workouts with a purpose and a goal in mind</li>
  <li>Chart the length of time it takes to complete your workout each time you go out. Use this as a measure of progress and a means to increase efficiency</li>
  <li>Add on an extra rep/set each week. This will ensure that you are getting better with every passing week</li>
  <li>Try to workout at the same time every day. This will help you maintain a schedule and build up a habit for working out</li>
  <li>Take at least 2 days off every week to allow your body to properly recover</li>
  <li>Be sure to <a href="/log">log your workouts</a> in order to keep track of your progress</li>
  </ol>
  </h5>
  <h4>
      Take a look at some of our suggested workouts to get started! <br><br>
    <a href="/workouta">Suggested Workout A<br></a>
    <a href="/workoutb">Suggested Workout B</h4><br></a>

  </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="static/img/goal.png" alt="" style="width:235px;height:235px;">
                </div>
                <div class="col-md-4">
                    <img class="chall" src="static/img/work.jpg" alt="" style="width:235px;height:235px;"></a>
                </div>
                <div class="col-md-4">
                   <img class="chall" src="static/img/calendar.jpg" alt="" style="width:235px;height:235px;"></a>
                </div>
            </div>

  <br><br><br>

  <h2>Lifestyle Tips</h2>
  <h5>
    <ol>
  <li>Keep a set sleep schedule. Go to bed at the same time everyday and ensure that you get the recommended 8 hours. SLEEP IS MOST CRUCIAL IN RECOVERY AND RESULTS!</li>
  <li>Keep a strict diet plan to ensure you are not eating away your gains</li>
  <li>Try to keep the stress in your life to a minimum. Stress can cloud your mind and can be detrimental to workouts in terms of motivation and effectiveness</li>
  <li>Develop strong time management skills to ensure you give yourself enough time to workout and complete the rest of your daily tasks</li>
  <li>Never give up! No matter how slowly you think you are progressing, remember that there still is progress. Keep the end goal in sight.</li>
  <li>Try using your smartphone to enhance and improve your sleep quality. We recommend trying the app <a href="https://itunes.apple.com/us/app/sleep-cycle-alarm-clock/id320606217#?platform=iphone">Sleep Cycle</a> on the App Store.</li>
    </ol>
    <br>
  </h5>

            <div class="row text-center">
                <div class="col-md-4">
                    <img src="static/img/sleep.jpg" alt="" style="width:235px;height:235px;"></a>
                </div>
                <div class="col-md-4">
                    <img class="chall" src="static/img/health.jpg" alt="" style="width:235px;height:235px;"></a>
                </div>
                <div class="col-md-4">
                   <img src="static/img/clock.png" alt="" style="width:235px;height:235px;"></a>
                </div>
            </div>


  <br><br><br>

  <h2>Diet Tips</h2>
  <h5>
    <ol>
  <li>Have protein with every meal (about 2 fists worth)</li>
  <li>Have 2 cups of fruit/vegetables with every meal</li>
  <li>8 cups of water per day</li>
  <li>Eliminate (limit) sugary and diet drinks</li>
  <li>Eat 3 meals a day, especially breakfast</li>
  <li>Get plenty of calcium</li>
  <li>Make sure you have a balanced plate with every meal</li>
    </ol>
    <br>
  </h5>


            <div class="row text-center">
                <div class="col-md-4">
                    <img src="static/img/drinks.jpg" alt="" style="width:235px;height:235px;"></a>
                </div>
                <div class="col-md-4">
                    <img src="static/img/apple.jpg" alt="" style="width:235px;height:235px;"></a>
                </div>
                <div class="col-md-4">
                   <img src="static/img/diet.jpg" alt="" style="width:235px;height:235px;"></a>
                </div>
            </div>
<br>
  </section>

{% endblock %}