{% extends "layout.html" %}

{% block title %}
    Gyms
{% endblock %}
{% block main %}
<link href="/static/home.css" rel="stylesheet">
<link href="/static/gyms.css" rel="stylesheet">

    <h1>Nearby Gyms</h1>
    <h3>Enter a location below to find the nearest gyms</h3>

  <form action="/gyms" method="post">
  <input autocomplete="off" class="form-control" name="city" placeholder="Location" type="text" id="city">

  <center><button class="btn btn-primary" type="submit">Search </button><br><br>


<iframe class="chall" width="950" height="650" frameborder="0" style="border:5" src="{{ googlemap }}" allowfullscreen></iframe>



{% endblock %}