{% extends "layout.html" %}

{% block title %}
    Suggested Plan
{% endblock %}

{% block main %}
    <link href="/static/workhome.css" rel="stylesheet">
    <link href="/static/workout.css" rel="stylesheet">
    <!--<link href="/static/guide.css" rel="stylesheet">-->

                <h1>Thanks for registering.</h1>

                <h3>Based on your profile physique we have compiled a workout plan and suggested some products for you.</h3>
                <br><br>


                 <section id="team" class="bg-light-gray">
                <div class="container-fluid">
                <h3>Workout Plan</h3><br>

                <div class="row">
                  <div class="column"><h4>Day 1</h4>
                  <h6>Chest, Shoulders and Triceps</h6>
                  <h7>
                        <li>Dumbbell Bench Press <br> 3 sets of 10 reps (adding weight)</li>
                        <li>Incline Dumbbell Bench Press <br> 3 sets of 10 reps</li>
                        <li>Chest Dips <br> 3 sets of MAX reps</li>
                        <li>Skullcrushers <br> 3 sets of 8-10 Reps</li>
                        <li>One Arm Dumbbell Extension <br> 3 sets of 10 reps</li>
                        <li>Tricep Extension <br> 3 sets of 10 reps</li>
                        <li>Barbell Front Raise <br> 4 sets of 12 reps</li>
                        <li>Dumbbell Lateral Raise <br> 4 sets of 12 reps</li>

                  </h7>
                  </div>

                  <div class="column"><h4>Day 2</h4>
                  <h6>Back and Biceps</h6>
                  <h7>
                        <li>Wide Grip Pull Up <br> 3 sets of MAX reps</li>
                        <li>Lat Pull Down <br> 3 sets of 10 reps</li>
                        <li>Straight Arm Lat Pull Down <br> 3 sets of 10 Reps</li>
                        <li>Machine Reverse Fly <br> 3 sets of 10 reps</li>
                        <li>Upright Row <br> 3 sets of 8-10 reps</li>
                        <li>Standard Barbell Curl <br> 3 sets of 8-10 reps</li>
                        <li>Preacher Curl <br> 3 sets of 10 reps</li>
                        <li>Incline Dumbbell Curl <br> 3 sets of 10 reps</li>
                  </h7>
                  </div>


                  <div class="column"><h4>Day 3</h4>
                  <h6>Quads, Glutes and Hamstrings</h6>
                  <h7>
                    <li> Squat<br> 4 sets of 8 reps</li>
                    <li> Dumbbell Lunge<br> 3 sets of 8 on each leg</li>
                    <li> 45 Degree Leg Press<br> 3 sets of 12 reps</li>
                    <li> Leg Curl<br> 3 sets of 15 reps</li>
                    <li> Leg Extension<br> 3 sets of 15 reps</li>
                    <li> Standing Calf Raise<br> 5 sets of 8 reps heavy reps</li>
                    <li> Seated Calf Raise<br> 5 sets of 15 light reps</li>
                    </h7>
                    </div>

                  <div class="column"><h4>Day 4</h4>
                  <h6>Chest, Shoulders and Triceps</h6>
                  <h7>
                    <li> Barbell Bench Press<br> 3 sets of 10 reps</li>
                    <li> Dumbbell Flys<br> 3 sets of 10 reps</li>
                    <li> Cable Crossovers<br> 3 sets of 10 reps</li>
                    <li> Close Grip Bench Press<br> 4 sets of 10 reps</li>
                    <li> Lying Dumbbell Extension<br> 3 sets of 10 reps</li>
                    <li> Tricep Kickback<br> 3 sets of 10 reps</li>
                    <li> Seated Dumbbell Press<br> 4 sets of 8 reps</li>
                    <li> One Arm Cable Lateral Raise<br> 3 sets of 12 reps</li>
</h7>
                  </div>
                </div>



         <br><br>


  <h3>Workout Videos</h3>

  <p>
    Scroll through the videos below for appropriate demonstrations of the exercises listed above.
  </p>

  <div class="row">
    <div class="row__inner">

<div class="tile">
        <div class="tile__media">
        <a href="https://www.youtube.com/watch?v=gJSov9rHIf0"> <img class="tile__img" src="/static/img/Bentover Rows.jpg" alt=""  /></a>
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Dumbbell Bentover Rows
          </div>
        </div>
      </div>

      <a href="https://www.youtube.com/watch?v=LY1V6UbRHFM">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Bicep Curls.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Bicep Curls
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?time_continue=5&v=DumkKcC_nHI">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Cable Crossovers.png" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Cable Crossovers
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=dGqI0Z5ul4k">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/DB Bench.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Dumbbell Bench
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=D7KaRcUTQeE">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Dumbbell Lunge.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Dumbbell Lunges
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=1Tq3QdYUuHs">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Leg Curl.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Leg Curls
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=sEM_zo9w2ss">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Leg Press.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Leg Press
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=nnn9kg33K2g">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Machine Reverse Fly.png" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Machine Reverse Fly
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=didEQUuieRQ">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Reverse Barbell Curl.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Reverse Barbell Curls
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=Yh5TXz99xwY">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Seated Calf Raise.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Seated Calf Raises
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=d_KZxkY_0cM">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Skullcrushers.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Skullcrushers
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=R2dMsNhN3DE">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Squats.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Squats
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=3UWi44yN-wM">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Standing Calf Raise.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Standing Calf Raises
          </div>
        </div>
      </div>
      </a>

    </div>
  </div>

</div>
            <!--<h3>Suggested Products</h3>-->


            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Suggested Products</h2>
                    <h3 class="section-subheading text-muted">Below are some of the products we feel might be useful to you in the future. Click the links to find out more about each product.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://www.bareperformancenutrition.com/products/whey-protein-5-lb-70-servings">
                        <img src="static/img/vanillawhey.jpg" alt="" style="width:300px;height:300px;">
                        <h4>Bare Performance Nutrtition Protein</h4></a>
                        <!--<p class="text-muted">UPLIFT is so effective as a pre-workout supplement because it combines important ingredients to support powerful energy, focus, and pre-workout nutrition.</p>-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://www.gatorade.com/products/bars-and-chews/whey-protein-bar-chocolate-chip-20g-protein-12-pack">
                        <img src="static/img/gatorade.jpg" alt="" style="width:300px;height:300px;">
                        <h4>Gatorade: Whey Protein Bar</h4></a>
                        <!--<p class="text-muted">Whey Protein Bars contain high-quality milk and whey protein. When eaten right after a game or practice, they give your muscles essential amino acids needed to help rebuild.</p>-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://rdxsports.com/rdx-leather-4-padded-training-lifting-belt/">
                        <img src="static/img/weight.jpg" alt="" style="width:300px;height:300px;" zoom:2>
                        <h4>RDX Lifting Support Belt</h4></a>
                        <!--<p class="text-muted">IdealLean Protein has just 90-100 deliciously smooth calories and 20 grams of whey protein isolate, so you can fuel your body right!</p>-->
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>



{% endblock %}