{% extends "layout.html" %}

{% block title %}
    Workouts
{% endblock %}

{% block main %}
    <form action="{{ url_for('workout') }}" method="post">
        <fieldset>

                <h4>Thanks for registering. Based on your physique we have compiled a list of pre-set workouts for you.</h4>
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text"/>

                <h3>Workout 1</h3>
                <h3>Workout 2</h3>
                <h3>Workout 3</h3>

        </fieldset>
    </form>
{% endblock %}