{% extends "layout.html" %}

{% block title %}
    Suggested Plan
{% endblock %}

{% block main %}
    <link href="/static/workhome.css" rel="stylesheet">
    <link href="/static/workout.css" rel="stylesheet">
    <!--<link href="/static/guide.css" rel="stylesheet">-->

                <h1>Thanks for registering.</h1>

                <h3>Based on your profile physique we have compiled a workout plan and suggested some products for you.</h3>
                <br><br>


                 <section id="team" class="bg-light-gray">
                <div class="container-fluid">
                <h3>Workout Plan</h3><br>

                <div class="row">
                  <div class="column"><h4>Day 1</h4>
                  <h6>Chest and Arms</h6>
                  <h7>
                        <li>Flat bench barbell press <br> 4 sets of 8 reps</li>
                        <li>Push ups <br> 4 sets of 10 reps</li>
                        <li>Cable crossovers <br> 3 sets of 15 reps</li>
                        <li>Incline dumbbell flyes <br> 4 sets of 12 reps</li>
                        <li>Barbell biceps curls <br> 3 sets of 15 reps</li>
                        <li>Alternate arm hammer curls <br> 4 sets of 12 reps per arm</li>
                        <li>Triceps rope overhead extensions <br> 3 sets of 20 reps</li>
                  </h7>
                </div>

                  <div class="column"><h4>Day 2</h4>
                  <h6>Shoulders and Back</h6>
                  <h7>
                      <li>Standing barbell military press <br> 4 sets of 10 reps</li>
                      <li>Dumbbell lateral raises <br> 4 sets of 15 reps</li>
                      <li>EZ bar upright rows <br> 3 sets of 15 reps</li>
                      <li>Seated dumbbell shoulder press <br> 4 sets of 10 reps</li>
                      <li>Dumbbell shrugs <br> 4 sets of 10 reps</li>
                      <li>Dumbbell shrugs <br> 4 sets of 10 reps</li>
                      <li>Dumbbell bent over rows <br> 4 sets of 12 reps per arm</li>
                  </h7>
                  </div>


                  <div class="column"><h4>Day 3</h4>
                  <h6>Strength Circuit</h6>
                  <h7>
                      <li> 10 burpees</li>
                      <li> 10 push ups</li>
                      <li> 15 crunches</li>
                      <li> 20 squat thrusts</li>
                      <li> 20 Hip Thrusts (both sides)</li>
                      <li> 20 Prisoner Squats</li>
                      <li> 20 V-Sit Ups</li>
                      <li> 20 Back Hypers</li>
                      <li> 20 Supermans</li>
                      <li> 3 sets of 10 hanging leg raises</li>
                      <li> 3 x 1-minute rounds of plank</li>
                      <li> 20 minutes low intensity cardio on the treadmill</li>
                  </h7>
                  </div>

                  <div class="column"><h4>Day 4</h4>
                  <h6>Legs</h6>
                  <h7>
                      <li> Barbell squats<br> 4 sets of 8 reps</li>
                      <li> Leg press machine<br> 3 sets of 12 reps</li>
                      <li> Leg extensions<br> 3 sets of 15 reps</li>
                      <li> Hamstring curls<br> 3 sets of 15 reps</li>
                      <li> Walking lunges<br> 4 sets of 10 reps per leg</li>
                      <li> Seated or standing calf raises <br> 4 sets of 20 reps per leg</li>
                      <li> Dumbbell front lunges <br> 3 sets of 10</li>
                      <li> Bike for 10 minutes</li>
                  </h7>
                  </div>
                </div>



         <br><br>


  <h3>Workout Videos</h3>

  <p>
    Scroll through the videos below for appropriate demonstrations of the exercises listed above.
</p>

  <div class="row">
    <div class="row__inner">

          <a href="https://www.youtube.com/watch?v=1xMaFs0L3ao">
                <div class="tile">
                  <div class="tile__media">
                  <img class="tile__img" src="/static/img/Squat.jpg" alt=""  />
                  </div>
                  <div class="tile__details">
                    <div class="tile__title">
                      Squat
                    </div>
                  </div>
                </div>
                </a>

          <a href="https://www.youtube.com/watch?v=RoY7aG94X_Y">
                <div class="tile">
                  <div class="tile__media">
                  <img class="tile__img" src="/static/img/Standing Barbell Military Press.png" alt=""  />
                  </div>
                  <div class="tile__details">
                    <div class="tile__title">
                      Standing Barbell Military Press
                    </div>
                  </div>
                </div>
                </a>

        <a href="https://www.youtube.com/watch?v=JZQA08SlJnM">
        <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Burpees.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Burpees
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=eFOSh8vpd6I">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Pushup.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Push ups
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=EPetH7lopsE">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Flat Bench Barbell Press.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Flat Bench Barbell Press
          </div>
        </div>
      </div>
      </a>


      <a href="https://www.youtube.com/watch?v=D7KaRcUTQeE">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Dumbbell Lunge.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Dumbbell Lunges
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=yeEpuAVwPaU">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/EZ.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            EZ-Bar (upright) Rows
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=B-aVuyhvLHU">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Shoulder Press.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
             Shoulder Press
          </div>
        </div>
      </div>
      </a>

<a href="https://www.youtube.com/watch?time_continue=5&v=DumkKcC_nHI">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Cable Crossovers.png" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Cable Crossovers
          </div>
        </div>
      </div>
      </a>

<a href="https://www.youtube.com/watch?v=RJx7A7rN_4I">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Squat Thrust.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Squat Thrusts
          </div>
        </div>
      </div>
      </a>



<a href="https://www.youtube.com/watch?v=YYWhkctnP2o">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Walking Lunges.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Walking Lunges
          </div>
        </div>
      </div>
      </a>


      <a href="https://www.youtube.com/watch?v=EPetH7lopsE">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/DB Bench.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Dumbbell Bench
          </div>
        </div>
      </div>
      </a>


      <a href="https://www.youtube.com/watch?v=F488k67BTNo">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Leg Curl.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Leg Curls
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=JhCwsEC4cw8">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Leg Press.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Leg Press
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=nnn9kg33K2g">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Machine Reverse Fly.png" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Machine Reverse Fly
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=didEQUuieRQ">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Reverse Barbell Curl.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Reverse Barbell Curls
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=Yh5TXz99xwY">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Seated Calf Raise.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Seated Calf Raises
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=d_KZxkY_0cM">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Skullcrushers.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Skullcrushers
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=R2dMsNhN3DE">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Squats.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Squats
          </div>
        </div>
      </div>
      </a>

      <a href="https://www.youtube.com/watch?v=3UWi44yN-wM">
      <div class="tile">
        <div class="tile__media">
        <img class="tile__img" src="/static/img/Standing Calf Raise.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Standing Calf Raises
          </div>
        </div>
      </div>
      </a>

    </div>
  </div>

</div>
            <!--<h3>Suggested Products</h3>-->


            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Suggested Products</h2>
                    <h3 class="section-subheading text-muted">Below are some of the products we feel might be useful to you in the future. Click the links to find out more about each product.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://www.bodybuilding.com/store/nla-performance/uplift.html?skuId=NLA1720036&PLASKU=NLA1720036&mcid=CG_PLA_US_OD_US_High&gclid=EAIaIQobChMIueL45YSM3wIVkoizCh2iywU2EAQYASABEgJi2_D_BwE">
                        <img src="static/img/proteinpink.jpg" alt="" style="width:300px;height:300px;">
                        <h4>Uplift: Pre-workout Energy</h4></a>
                        <!--<p class="text-muted">UPLIFT is so effective as a pre-workout supplement because it combines important ingredients to support powerful energy, focus, and pre-workout nutrition.</p>-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://www.gatorade.com/products/bars-and-chews/whey-protein-bar-chocolate-chip-20g-protein-12-pack">
                        <img src="static/img/gatorade.jpg" alt="" style="width:300px;height:300px;">
                        <h4>Gatorade: Whey Protein Bar</h4></a>
                        <!--<p class="text-muted">Whey Protein Bars contain high-quality milk and whey protein. When eaten right after a game or practice, they give your muscles essential amino acids needed to help rebuild.</p>-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://m.idealfit.com/protein/all-proteins.list">
                        <img src="static/img/protein.jpg" alt="" style="width:300px;height:300px;" zoom:2>
                        <h4>Ideal Lean: Protein Shake</h4></a>
                        <!--<p class="text-muted">IdealLean Protein has just 90-100 deliciously smooth calories and 20 grams of whey protein isolate, so you can fuel your body right!</p>-->
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>



{% endblock %}